services:
  kong:
    image: kong:3.9.1
    container_name: kong-container

    command: kong start

    networks:
      - chat-net
    depends_on:
      - server
    ports:
      - ${SERVER_PORT}:8000
      - ${API_GATEWAY_ADMIN_PORT}:8001

    volumes:
      - ./kong/kong.conf:/etc/kong/kong.conf
      - ./kong/kong.yml:/kong/kong.yml
      - ./kong/plugins:/kong/plugins:ro

  konga:
    image: pantsel/konga:latest
    container_name: konga-container

    networks:
      - chat-net
    depends_on:
      - kong
    ports:
      - ${API_GATEWAY_UI_PORT}:1337

    environment:
      - NODE_ENV=development
      - KONGA_SEED_USER_DATA_SOURCE_FILE=/app/seeds/user_seed.json
      - KONGA_SEED_KONG_NODE_DATA_SOURCE_FILE=/app/seeds/kong_node_seed.json
    volumes:
      - ./kong/konga/seeds:/app/seeds
      - konga-data:/data

  dynamodb-init:
    image: amazon/aws-cli
    container_name: dynamodb-init

    entrypoint: ["/bin/bash", "/dynamo/create_schema.sh"]

    networks:
      - chat-net
    depends_on:
      dynamodb:
        condition: service_healthy

    environment:
      - AWS_ACCESS_KEY_ID=fakeKey
      - AWS_SECRET_ACCESS_KEY=fakeSecretKey
      - AWS_DEFAULT_REGION=ap-northeast-2
    volumes:
      - ./dynamo:/dynamo

  elasticsearch-init:
    image: alpine:3.20
    container_name: elasticsearch-init

    entrypoint: >
      sh -c "
          apk add --no-cache curl gettext jq;
          echo 'Register index templates';
          sh ./init/create_index_templates.sh;"

    networks:
      - chat-net
    depends_on:
      elasticsearch:
        condition: service_healthy

    environment:
      - ES_HOST=elasticsearch
      - ES_PORT=9200
    volumes:
      - ./elasticsearch:/init

  kibana:
    image: docker.elastic.co/kibana/kibana:9.2.0
    container_name: kibana-container

    networks:
      - chat-net
    depends_on:
      elasticsearch:
        condition: service_healthy
    ports:
      - ${KB_PORT}:5601

    environment:
      - ELASTICSEARCH_HOSTS=http://elasticsearch:9200
      - NODE_OPTIONS=--max-old-space-size=1024

volumes:
  konga-data:
    driver: local
