services:
  consumer-stream-dynamo:
    image: chat/consumer/stream-dynamo:${STREAM_DYNAMO_CONSUMER_VERSION}
    container_name: consumer-stream-dynamo
    build:
      context: ./sink/dynamo-consumer
      dockerfile: Dockerfile

    networks:
      - chat-net
    depends_on:
      redis:
        condition: service_healthy
      dynamodb:
        condition: service_healthy

    env_file:
      - ./sink/dynamo-consumer/.env
    environment:
      - REDIS_HOST=redis-container
      - REDIS_STREAM_KEY=${REDIS_STREAM_KEY}
      - REDIS_STREAM_PARSER=${REDIS_STREAM_PARSER}
      - DYNAMO_HOST=dynamodb-container
