services:
  server:
    image: chat/server:${SERVER_VERSION}
    build:
      context: project/server
      dockerfile: Dockerfile

    networks:
      - chat-net
    depends_on:
      redis:
        condition: service_healthy
      dynamodb:
        condition: service_healthy
      elasticsearch:
        condition: service_healthy
    deploy:
      replicas: ${SERVER_REPLICA}

    env_file:
      - project/server/.env
    environment:
      - REPOSITORY_TYPE=Database
      - REDIS_HOST=redis-container
      - DYNAMO_HOST=dynamodb-container
      - ES_HOST=es-container

    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:3000/"]
      interval: 10s
      timeout: 5s
      retries: 5

  client:
    image: chat/client:${CLIENT_VERSION}
    build:
      context: project/client
      dockerfile: Dockerfile
      args:
        - VITE_SOCKET_SERVER_URL=http://localhost:${SERVER_PORT}/chat
        - VITE_MANUAL_USER_SET=true

    networks:
      - chat-net
    depends_on:
      server:
        condition: service_healthy
    ports:
      - ${CLIENT_PORT}:80

    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:80/"]
      interval: 10s
      timeout: 5s
      retries: 5

include:
  - ./infra/docker-compose.yml
  - ./project/consumers/docker-compose.yml

networks:
  chat-net:
    name: chat-net
    driver: bridge
